
<div class="head_top hidden-xs">
	<div class="container">你好，欢迎光临{$name}！ <span class="pull-right">
		<empty name="uid"> 
			<a href="{:U('Public/register/')}" rel="nofollow">注册</a>
			<a rel="nofollow" href="/index.php?m=public&a=login&reurl=<php>echo urlencode('http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']);</php>" >登录</a>
			<a href="{:U('Member/index/')}" rel="nofollow">我的外卖</a> <else /> 
			<a href="{:U('Member/index/')}"><i class="fa fa-user-md"></i> <empty name="nickname">{$username}<else />{$nickname}</empty></a>
		</li>
		<a href="{:U('Member/index/')}" rel="nofollow"> <i class="fa fa-list"></i> 我的外卖</a> 
		<a href="{:U('Public/logout/')}" rel="nofollow"><i class="fa fa-power-off"></i> 退出</a> </empty> </span>
	</div>
</div>


<!-- begin container -->
<div class="container " style="margin-top: 20px;">
	<div class="row hidden-xs">
		<div class="col-md-3 col-xs-7"><a href="__ROOT__"><img
			src="templates/mall/images/logo/logo.png"></a></div>
		<div class="col-md-1"></div>
		<div class="col-md-5"></div>
		<div class="col-md-1"></div>
		<div class="col-md-2 col-xs-5"></div>
	</div>
</div>
