<div class="footer">

<div class="container">
<div class="row">
    <div class="col-md-3"> 
	<h4><i class="fa fa-truck"></i> 支付说明</h4>
	<ul >
                <li>起送金额：{$startpay}元</li>
                   <li>配送费用：{$pspay}元</li>
                  
                
				  </ul>
	</div>
	<div class="col-md-3">
	<h4><i class="fa fa-th-list"></i> 关于我们</h4>
	<ul >
	<li>店铺地址：{$address}</li>
	<li>店铺公告：{$notice}</li>
	
                  
                  </ul>
	</div>
	<div class="col-md-3">
	<h4><span class="glyphicon glyphicon-question-sign"></span> 配送范围</h4>
	<ul>
                  <li>配送范围：{$psarea}</li>
				  </ul>
	
	</div>
	<div class="col-md-3">
	<ul>
                  	<li>
                     <h4><span class="glyphicon glyphicon-earphone"></span> 服务热线:{$tel}</h4>
					 
					 </li>
                      <li>
                      	<h4><span class="glyphicon glyphicon-phone-alt"></span> 配送时间:{$openstime}-{$openetime}</h4>
                          
                      </li>
                      
					   <!--  <li >
                    	<h4>
						<a target="_blank" href=""><span class="glyphicon glyphicon-phone"></span> 手机浏览</a>
                      	</h4>
                      </li>-->
					  
                  </ul>
	
	</div>
</div>

<p align="center">© 2014 {$name} 　{$icp} 　　</p>
<p align="center" class="ps">程序由<a title="超级外卖" href="http://www.bijiadao.net/">超级外卖</a>提供</p>
</div>


  </div>  
    
	


	
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
       
   <p style="text-align:center">   
   <a href="{:U('Public/register/')}" class="btn btn-danger">注册成为会员更多优惠</a>
　　　　　
   <a href="{:U('Cart/index/')}" class="btn btn-default">不注册直接下单</a>

  </p>
  



      </div>
       
	 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->	
 <script src="__ROOT__/Public/js/simpleCart.min.js"></script> 
	 <link href="__ROOT__/templates/mall/css/cart-min.css" rel="stylesheet" type="text/css"/>
<script>

simpleCart({
 	currency: "JPY",
	shippingQuantityRate: 0,
	shippingTotalRate: 0,
	 shippingFlatRate: {$pspay},
	cartColumns: [
{ attr: "name" , label: "商品" } ,
//{ attr: "price" , label: "单价", view: 'currency' } ,
{ view: "decrement" , label: false , text: "-" } ,
{ attr: "quantity" , label: "数量" } ,
{ view: "increment" , label: false , text: "+" } ,
{ attr: "total" , label: "总价", view: 'currency' } ,
//{ view: "remove" ,  label: ''}
]
  });
  
 



</script>
 <script>
   
    $("div[role='dialog']").on("show.bs.modal", function() {  
        // 具体css样式调整  
        $(this).css({  
            "display": "block",  
            "margin-top": function() {  
                return ($(this).height() / 3);  
            }  
        });  
    });  

 </script>		
	
		<script type="text/javascript">

	
	
simpleCart.bind( "update" , function(){

 if(simpleCart.total()<=0){
 $("#cartSubmit").hide();
 $("#cartIsEmpty").show();
 $("#cartCha").hide();
 }
 else{
	 if( {$startpay}- simpleCart.total() <=0){
      $("#cartSubmit").show();
	$("#cartIsEmpty").hide();
	  $("#cartCha").hide();
    } else {
	$("#cartCha").show();
	$("#cartSubmit").hide();
    $("#cartIsEmpty").hide();
   var showimg = {$startpay}- simpleCart.total();
$("#cha").text(showimg);
    }}
 
});



	
	 </script>
	
	
	
	
	

<div class="container navbar-fixed-bottom visible-xs" style="background-color:#FFF;">
  <div class="row ">
  
       <div class="col-md-3 col-xs-3"><a class="icon-btn" href="{:U('Index/index/')}">
								<i class="fa fa-home"></i>
								<div>首页</div>
								
							</a></div>
	 <div class=" col-xs-3">
	 <div class="btn-group dropup">
	 <a class="icon-btn dropdown-toggle" data-toggle="dropdown" >
								<i class="fa fa-th-large"></i>
								<div>菜品分类</div>
								
							</a>
							<ul class="dropdown-menu" style="min-width:245px;" role="menu">
							<volist name="foodcatlist" id="vo">
                             <li><a class="btn" href="{:U('index/flist/','id='.$vo['fcid'])}">{$vo.fcname}</a></li>
							 <li class="divider"></li>
							 </volist>
							
                             </ul>
							</div>
							
							</div>
	<div class="col-md-3 col-xs-3">
	 <div class="btn-group dropup">
	 <a class="icon-btn" href="{:U('Member/index/')}">
								<i class="fa fa-user"></i>
								<div>我的订单</div>
								
							</a>
						
							</div>
							
							</div>
	 
	 
	 
	
	 <div class="col-md-3 col-xs-3">
	 <a class="icon-btn" href="{:U('Cart/index/')}">
								<i class="fa fa-shopping-cart"></i>
								<div>购物车</div>
								<span class="badge" > <span class="simpleCart_quantity "></span>
		</span>
							</a>
							
	 </div>
  
   <!-- <div class="col-md-3 col-xs-3"><a class="icon-btn" href="{:U('Home/map/')}">
								<i class="fa fa-map-marker"></i>
								<div>店铺位置</div>
								
							</a></div>-->
  </div>

</div>
