<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>{$webtitle}－管理后台</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
 
	<!-- BEGIN GLOBAL MANDATORY STYLES -->          
	
	<link href="__ROOT__/Public/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="__ROOT__/Public/css/admin.css" rel="stylesheet" type="text/css"/>
	<link href="__ROOT__/Public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN THEME STYLES --> 
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="__ROOT__/Public/js/html5shiv.min.js"></script>
        <script src="__ROOT__/Public/js/respond.min.js"></script>
    <![endif]-->
	<!-- END THEME STYLES -->
	
	
<script type="text/javascript" src="./Public/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="./Public/ueditor/ueditor.all.js"></script>
<!-- 语言包文件(建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败) -->

	
</head>
<!-- BEGIN BODY -->
<body>

<!-- BEGIN nav -->
	 <include file="Public:header" />
<!-- end nav -->

<!-- begin container -->

<div class=" container " style="margin-top:60px">

<div class="row">
     <div class=" col-lg-2 col-md-2 col-xs-12">
	 
	 <include file="Public:leftsider" />
	 
	
	 </div>
	  <div class="col-lg-10 col-md-10 col-xs-12" style="background-color: #FFF;">
	  
        
		
		<!-- begin tab -->
	      <ul class="nav nav-tabs " >
             <li ><a href="{:U('Articlecate/index/')}" ><b>文章分类</b></a></li>
			 <li ><a href="{:U('Articlecate/add/')}" ><b>分类增加</b></a></li>
             <li ><a href="{:U('Article/index/')}" ><b>文章管理</b></a></li>
			 <li ><a href="{:U('Article/add/')}" ><b>文章增加</b></a></li>
              <li class="active"><a href="#" ><b>产品修改</b></a></li>
          </ul>
		  <p></P>
		  
    
           <div class="row"> 
             <div class="col-lg-2 col-md-2 col-xs-2" ></div>
			 <div class="col-lg-6 col-md-6 col-xs-6" ><span class="help-block"></span></div>
			 <div class="col-lg-4 col-md-4 col-xs-4" ></div>
		  
		  </div>
		  <p></P>




			 
<form class="form-horizontal" role="form"  enctype="multipart/form-data" action="{:U('Article/editsave/')}" method="post">
<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">文章标题</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputEmail3" name="atitle" value="{$item.atitle}">
	 <input type="hidden" name="aid" value="{$item.aid}">
    </div>
	<div class="col-sm-4">
<span class="help-block"><i class="fa fa-exclamation"></i>请输入文章标题</span>
 </div>
  </div>
 
    <div class="form-group">
    <label for="inputEmail5" class="col-sm-2 control-label">文章分类</label>
    <div class="col-sm-3">
     <select class="form-control" name="acid" >
	
													<volist name="clist" id="vo">
													  <eq name="vo['acid']" value="$item['acid']"><option value="{$vo.acid}" selected="selected">{$vo.cname}</option>
													  <else/>
													  <option value="{$vo.acid}" >{$vo.cname}</option>
													  </eq>
                           
																	
													</volist>	
																</select>

    </div>
	<div class="col-sm-7">
<span class="help-block"><i class="fa fa-exclamation"></i>请输入选择分类</span></span>
 </div>
  </div>
  
 
    <div class="form-group">
    <label for="inputEmail11" class="col-sm-2 control-label">描述</label>
    <div class="col-sm-8">



      <script id="conted" name="content" type="text/plain">{$item.content|htmlspecialchars_decode}</script>
<script type="text/javascript">
    var editor = UE.getEditor('conted')
</script>


    </div>
	<div class="col-sm-2">
<span class="help-block"></span>
 </div>
  </div>
   
  
    
  
  
   
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">排序</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="sort" value="{$item.sort}" placeholder="">
	  
    </div>
	<div class="col-sm-8"><span class="help-block">  <i class="fa fa-exclamation"></i>值为0-99，值越大，越靠前</span></div>
  </div>

<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="sumbit" class="btn btn-primary">保存</button>
      </div>


      </div>
      </form>
	

			  
			  
			
             
	
     

	  
	  
	  
	
	 </div><!-- col end -->

</div><!-- end row -->


  


    
</div><!-- end container -->


<br><br>

<include file="Public:foot" />	

	
	
    <script src="__ROOT__/Public/js/jquery.js"></script>
    <script src="__ROOT__/Public/js/bootstrap.min.js"></script> 
	






<script >
	 
	$('#myModal').on('hidden.bs.modal', function (e) {
	location.reload()

})
$('#ajax').on('hidden.bs.modal', function (e) {
	location.reload()

})


function delcfm() {
if (!confirm("确认要删除？")) {
window.event.returnValue = false;
}
}




</script>	

	<!-- END CORE PLUGINS -->
	
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>